:root {
	box-sizing: border-box;
	--base-background-color: antiquewhite;
	--base-color: black;
	--base-border-color: black;
}

.dark-mode {
	--base-background-color: rgb(19, 19, 78);
	--base-color: aliceblue;
	--base-border-color: aliceblue;
}

html body{
	height: 100%;
	background-color: var(--base-background-color);
	color: var(--base-color);
	display: flex;
}

#weatherContainer {
	border: 2px solid var(--base-border-color);
	border-radius: .2rem;
	padding: 4px 8px;
	margin-top: 20px;
}

#weatherContainer > li {
}

.weather-icon{
	width: 32px;
	height: 32px;
}